{% extends "bootstrap/base.html" %}

{% block title %}
Index
{% endblock %}

{% block head %}
{{super()}}
<link href = {{url_for('static',filename='css/bootstrap.min.css')}} rel="stylesheet">
<link href = {{url_for('static',filename='css/index.css')}} rel="stylesheet">
{% endblock %}


{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="card">
    <img class="card-img img-rounded" src='../static/index_bg2.jpg' height="1600">
    <div class="card-img-overlay">
        <h1 class="card-title text-black text-center">Early Bird</h1>
        <h3 class="card-title text-black text-center">Your Personal Financial Advisor</h3>
        <p class="card-text">
            <h3><span class="iconify" data-icon="emojione-monotone:waving-hand" data-inline="false"></span>About Us</h3>
            Our group is building an automated financial planning system Early Bird to provide third-party
            personalized investment recommendations, a subscription newsletter, and feeds that give
            accessible explanations for investors who are interested in active investing. </br>

            {% if not authenticated_user %} Want to know more about? <a href="register"> Please Register</a>
                {% else %} <a href="examples"> See the examples </a>
            {% endif %}
        </p>
        <br></br>
        <h3><span class="iconify" data-icon="mdi:feature-search-outline" data-inline="false"></span>Key Features</h3>
        <p></p>
        <table style="width:100%">
            <tr>
              <td align="center" width="50%"><img src="../static/gmail.png" width="400" height="270"></td>
              <td align = "center" width="50%"><img src="../static/Portfolio.png" width="400" height="270"></td>
            </tr>
            <tr>
                <td align="center" width="50%"><h6 class="card-title text-black text-center">Personalize Subscriber Email</h6></td>
                <td align="center" width="50%"><h6 class="card-title text-black text-center"><a href="example">Personalize Dashboard</a></h6></td>
            </tr>
        </table>
        <br></br>
        <p class = "card-text">
        <h3><span class="iconify" data-icon="emojione-monotone:writing-hand" data-inline="false"></span>Let us to know more about you...</h3>
        This is a preliminary questionnaire to help us know you better and decide if you are the qualified client for our product
        <a href="question">Start Now!</a>
        </p>
        <br></br>
        <h3><span class="iconify" data-icon="bi:people" data-inline="false"></span>Meet our Teams:</h3>
        <p></p>
        <table style="width:100%">
          <tr>
            <td align="center" width="33.33%"><img src="../static/Lin_Meng.jpg" width="200" height="250"></td>
              <td align = "center" width="33.33%"><img src="../static/Maxine_Liu.jpg" width="200" height="250"></td>
              <td align = "center" width="33.33%"><img src="../static/Xiao_Chu.jpg" width="200" height="250"></td>
          </tr>
          <tr>
              <td align="center" width="33.33%"><h6 class="card-title text-black text-center">Lin Meng</br> Business Analyst, Back-End Developer</h6></td>
              <td align="center" width="33.33%"><h6 class="card-title text-black text-center">Maxine Liu</br>  Product Manager</h6></td>
              <td align="center" width="33.33%"><h6 class="card-title text-black text-center">Xiao Chu</br>  Portfolio Analyst, Front-End Developer</h6></td>
          </tr>
          <tr>
              <td align="center" width="33.33%"><img src="../static/Hao_Xu.jpg" width="200" height="250"></td>
              <td align = "center" width="33.33%"><img src="../static/Jack_Dong.jpg" width="200" height="250"></td>
              <td align = "center" width="33.33%"></td>
          </tr>
          <tr>
              <td align="center" width="33.33%"><h6 class="card-title text-black text-center">Hao Xu</br> Software Engineer</h6></td>
              <td align="center" width="33.33%"><h6 class="card-title text-black text-center">Jack Dong</br> Data Scientist</h6></td>
              <td align="center" width="33.33%"></td>
          </tr>
        </table>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>

{% endblock %}
